:root {
  --main-bg-color: #46a358;
  --main-black-color: #f5f5f580;
  --main-button-color: #46a3584d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: Cera Pro;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 0 12px;
}
header {
  gap: 50px;
  padding: 10px 20px;
  background-color: #ffffff;
}
header .container {
  background-color: #ffffff;
  border-bottom: 2px solid var(--main-bg-color);
}
.header-main-logo {
  width: 150px;
  height: 34.3px;
}

.manu-ul {
  display: flex;
  list-style: none;
  gap: 70px;
  padding: 30px 30px;
  margin: 0;
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.manu-ul_active-text {
  border-bottom: 5px solid var(--main-bg-color);
}

.menu_item a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.manu-ul_active-text {
  padding: 0 20px;
}
.header-loginForm_img {
  margin-left: 10px;
  cursor: pointer;
}
.header-loginForm_button {
  width: 100px;
  height: 35px;
  border: 0;
  border-radius: 6px;
  background-color: var(--main-bg-color);
  color: #fff;
  font-weight: 500px;
}
.main .container {
  background-color: #f5f5f580;
}
.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_text_p {
  font-family: Cera Pro;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 10%;
  color: #3d3d3d;
}
.main_text_h1 {
  margin-top: 15px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 70px;
  font-family: Cera Pro;
  line-height: 70px;
  color: #3d3d3d;
}
.main_text_h1-span {
  color: var(--main-bg-color);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 70px;
  font-family: Cera Pro;
  line-height: 70px;
}
.main_text_secont-p {
  margin-top: 10px;
  font-weight: 400px;
  font-size: 14px;
  color: #727272;
}
.main_button {
  margin-top: 20px;
  width: 140px;
  height: 37.84px;
  border-radius: 6px;
  background-color: var(--main-bg-color);
  border: 0;
  color: #fff;
  font-weight: 900;
}
.main_switch .container {
  gap: 10px;
  justify-content: center;
}
.main_switch-button {
  margin-bottom: 15px;
  width: 8px;
  height: 7.57px;
  border-radius: 50%;
  background-color: var(--main-button-color);
}
#main_switch-button {
  background-color: var(--main-bg-color);
}
.catogires .container {
  margin-top: 50px;
}
.catogires_nav {
  font-family: Cera Pro;
  padding: 20px 20px;
  background-color: var(--main-black-color);
  width: 310px;
}
.catagories-list_ul {
  font-family: Cera Pro;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catagories-list_ul-li {
  font-family: Cera Pro;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}

.catagories-list_text {
  font-family: Cera Pro;
  font-size: 16px;
  color: #333;
}

.catagories-list_number-box {
  font-size: 14px;
  font-weight: 500;

  padding: 4px 10px;
  border-radius: 8px;
  color: #555;
  min-width: 40px;
  text-align: center;
}
#catagories-list_ul-lii {
  color: var(--main-bg-color);
  font-size: 14px;
  font-weight: 500;
  padding: 4px 0px;
  border-radius: 8px;
  min-width: 40px;
  text-align: center;
}
.catagories-list_green-text {
  color: var(--main-bg-color);
  font-size: 16px;
}
.catogires_h1 {
  font-size: 18px;
  font-weight: 700;
}
.catagories-list_ul {
  margin-top: 20px;
}
.catogires_price-range_input {
  width: 209px;
  color: var(--main-bg-color);
}
.catogires_price-range_h1 {
  font-size: 18px;
  font-weight: 700;
}
.catogires_price-range_p {
  font-weight: 700;
  font-size: 15px;
}
.catogires_price-range_p_span {
  color: var(--main-bg-color);
}
.catogires_price-range_button {
  background-color: var(--main-bg-color);
  font-family: Cera Pro;
  width: 90px;
  height: 35px;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  border: 0;
}
.catogires_price-range_input {
  margin-top: 15px;
}
.catogires_price-range_p {
  margin-top: 10px;
}
.catogires_price-range_button {
  margin-top: 15px;
}
.catogires_price-range {
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.catogires_size_h1 {
  font-size: 18px;
  font-weight: 700;
}
.catogires_size {
  margin-top: 50px;
}
.catogires_size-main-img {
  margin-top: 10px;
  margin-left: -50px;
}
.products-grid {
  max-width: 100%;
  display: flex;
}
.products-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  height: 400px;
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card p {
  font-weight: bold;
  font-size: 16px;
  color: #3d3d3d;
}

.product-card span {
  font-size: 14px;
  color: #46a358;
  font-weight: 600;
}
